$small: 600px;
$medium: 768px;

// phones with tiny screens up to medium screens
@media screen and (max-width: $medium) {

    div.horizontal-container {
        display: block;
        text-align: center;
    }
    div.div.mobile-horz-container {
        display: block;
        text-align: center;
    }
    div [class*="horizontal-container-"] {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    div [class*="vertical-container"] {
        display: block;
        margin-left: inherit;
        //max-width: 80%;
    }
    div.prof-pic-container {
        width: 60vw;
        height: 60vw;
    }
    a.spacing {
        display: block;
        margin-bottom: 15px;
    }
    h3[class*="proj-desc-"] {
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    div.mobile-horz-flex-container {
        display: flex;
    }
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.horizontal-container-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 4%;
    margin-left: 10%;
}

.horizontal-container-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 4%;
    margin-right: 10%;
}

.h1-container {
    margin: 0;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 650px;
}

.vertical-container-large {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.proj-desc-container-left {
    margin-left: 100px;
    max-width: 600px;
}

.proj-desc-container-right {
    margin-right: 100px;
    max-width: 600px;
}

.empty-container {
    height: 25px;
}

.icon {
   object-fit: contain;
   width: 100%;
   height: auto;
}

.icon-container {
    width: 100px;
}

a {
    margin: 5px;
    text-decoration: none;
    color: inherit;
    font-size: 19px;
}

a.spacing {
    margin-top: 15px;
}

a:hover {
    color: #00a0a0;
}

@mixin step4( $width, $color, $bgcolor ) {
    box-shadow:
      $width 0 $bgcolor,
      -$width 0 $bgcolor,
      0 (-$width) $bgcolor,
      0 $width $bgcolor,
      2*$width 0 $bgcolor,
      -2*$width 0 $bgcolor,
      0 (-2*$width) $bgcolor,
      0 2*$width $bgcolor, 
      0 0 0 $width $bgcolor,
      3*$width 0 $bgcolor,
      -3*$width 0 $bgcolor, 
      0 3*$width $bgcolor,
      0 (-3*$width) $bgcolor,
      0 (-$width) 0 $width $bgcolor,
      0 $width 0 $width $bgcolor,
      $width 0 0 $width $bgcolor,
      -$width 0 0 $width $bgcolor,
      4*$width 0 $color, 
      -4*$width 0 $color,
      0 (-4*$width) $color, 
      0 4*$width $color,
      2*$width 0 0 $width $color,
      -2*$width 0 0 $width $color,
      0 2*$width 0 $width $color,
      0 (-2*$width) 0 $width $color,
      0 0 0 2*$width $color;
      margin: 4*$width auto;
  }

.prof-pic {
   object-fit: contain;
   width: 100%;
   height: auto;
}

.prof-pic-lvl4 {
    @include step4( 5px, #fea49f, #00a0a0 );
}

.prof-pic-container {
    height: 400px;
    width: 400px;
    z-index: 9000;
}
